$mainColor: white;
$color1: rgba(255, 255, 255, 0.658);
$color2: rgba(255, 255, 255, 0.24);
$color2Hover: rgba(255, 255, 255, 0.349);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.about-company-inner {
  width: 100%;
  height: 60vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, 48.5%);
  grid-template-rows: 90.5%;
  gap: 0.2vh;
}
.about-company-picture {
  background-image: url(../images/background-hero.jpg);
  border-radius: 5vh;
  background-repeat: no-repeat;
  background-size: 140%;
}
.company-text-top {
  align-content: center;
  text-align: start;
  font-size: 4vw;
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  font-weight: bold;
  margin-left: 4.5%;
  margin-top: 6.5%;
  user-select: none;
}
.company-text-center {
  align-content: center;
  text-align: start;
  font-size: 0.9vw;
  font-family: "Roboto Condensed", sans-serif;
  color: rgba(0, 0, 0, 0.562);
  margin-left: 4.5%;
  margin-top: 4%;
  user-select: none;
}
.company-text-bottom {
  width: 95%;
  height: 10vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
  margin-left: 4.5%;
  margin-top: 5%;
}

.text-bottom-garanty {
  align-content: start;
  text-align: start;
  font-size: 1.1vw;
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  font-weight: bold;
  user-select: none;
}
.text-bottom-more {
  width: 100%;
  height: 7vh;
  display: block;
  background-color: rgb(0, 241, 241);
  align-content: center;
  text-align: center;
  font-size: 1.4vw;
  font-family: "Roboto Condensed", sans-serif;
  color: rgba(255, 255, 255, 0.911);
  font-weight: bold;
  border-radius: 2vh;
  user-select: none;
}
