$mainColor: pink;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
}

body {
  background-color: rgb(181, 181, 156);
}

.header-top-wrapper {
  width: 98%;
  height: 15dvh;
  border: 2px solid red;
  margin-left: 1%;
  margin-top: 1%;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}

.header-bottom-wrapper {
  width: 98%;
  height: 15dvh;
  border: 2px solid red;
  margin-left: 1%;
}

.company-wrapper {
  display: flex;
  width: 25%;
  height: 100%;
  border: 2px solid red;
  align-items: center;
  gap: 3%;
}

.company-name {
  font-size: 32px;
  text-transform: uppercase;
}

.company-title {
  font-size: 22px;
}

.contacts-wrapper {
  width: 30%;
  height: 100%;
  border: 2px solid blue;
}

//иконки скачать
